// Colors: Greyscale
$black: #0000;
$grey-1: lighten($black, 10%);
$grey-2: lighten($black, 20%);
$grey-3: lighten($black, 30%);
$grey-4: lighten($black, 40%);
$grey-5: lighten($black, 50%);
$grey-6: lighten($black, 60%);
$grey-7: lighten($black, 70%);
$grey-8: lighten($black, 80%);
$grey-9: lighten($black, 90%);
$white: #fff;

$red: #d00d2d;
$red-dark: darken($red, 10%);
$orange: orange;

// Colors: Fonts
$font-color-default: $red-dark;

// Button Variables
$button-padding: 1rem;
$button-margin: 1rem;
$button-bg-hover: #c00c0c;
$button-bg: $red;
$button-border-radius: .25rem;
$button-box-shadow: 0 2px 2px;

//Spacing Variables
$spacing: 1rem;
$spacing-2: $spacing * 1.5;
$spacing-3: $spacing * 2;
$spacing-4: $spacing * 3;
$spacing-5: $spacing * 4;
$spacing-6: $spacing * 6;