.m{
	margin: $spacing;

}

//.my
//.mx 
//.mt 
//.mr
//.mb 
//.ml

.m-2{
	margin: $spacing-2;
}

//.my-2
//.mx-2 
//.mt-2 
//.mr-2
//.mb-2 
//.ml-2

.m-3{
	margin: $spacing-3;
}

.m-4{
	margin: $spacing-4;
}

.m-5{
	margin: $spacing-5;
}

.m-6{
	margin: $spacing-6;
}