.p{
	padding: $spacing;
}

//.py
//.px 
//.pt 
//.pr
//.pb 
//.pl 

.p-2{
	padding: $spacing-2;
}

//.py-2
//.px-2 
//.pt-2 
//.pr-2
//.pb-2 
//.pl-2 

.p-3{
	padding: $spacing-3;
}

.p-4{
	padding: $spacing-4;
}

.p-5{
	padding: $spacing-5;
}

.p-6{
	padding: $spacing-6;
}